body {
    user-select: none;
    /* none|auto|text|contain|all; 禁止选中文本（防止复制） */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
}

.jspsych-btn {
    font-size: 16pt;
    font-family: 微软雅黑;
    font-weight: normal;
    margin: 1em 0em;
}
.tag-left {
    font-size: 24pt;
    position: absolute;
    top: 15%; /* 增加top值 */
    left: 20%;
}

.tag-left-b {
    font-size: 24pt;
    position: absolute;
    top: 15%; /* 增加top值 */
    left: 35%;
}

.tag-right {
    font-size: 24pt;
    position: absolute;
    top: 15%; /* 增加top值 */
    right: 35%;
}
.tag-right-b {
    font-size: 24pt;
    position: absolute;
    top: 15%; /* 增加top值 */
    right: 20%;
}
.tag-left, .tag-left-b, .tag-right, .tag-right-b {
    flex: 1; /* 自动调整宽度 */
    text-align: center; /* 居中对齐 */
    margin: 0 1%; /* 添加一些间距 */
}

@media (max-width: 1400px) { /* 针对小屏幕的调整 */
    .tag-left, .tag-left-b, .tag-right, .tag-right-b {
        font-size: 18pt; /* 缩小字体 */
    }
}
